# Project exclude paths
/.gradle/
/Control Flow/Break and Continue/Break/build/
/Control Flow/Break and Continue/Continue/build/
/Control Flow/Break and Continue/Labels/build/
/Control Flow/Enumeration/All of Enum Object/build/
/Control Flow/Enumeration/Anonymous Class in Enumeration/build/
/Control Flow/Enumeration/Enum Object Value/build/
/Control Flow/Enumeration/Enumeration/build/
/Control Flow/Enumeration/Enumeration with When Expression/build/
/Control Flow/Enumeration/enumValues/build/
/Control Flow/Enumeration/valueOf/build/
/Control Flow/Expression and Statement/Expression/build/
/Control Flow/Expression and Statement/Statement/build/
/Control Flow/Latihan/Latihan/build/
/Control Flow/Range and For loop/For Loop/build/
/Control Flow/Range and For loop/For Loop Index/build/
/Control Flow/Range and For loop/For Loop with Range/build/
/Control Flow/Range and For loop/For Loop with Step Extension/build/
/Control Flow/Range and For loop/ForEach/build/
/Control Flow/Range and For loop/ForEachIndexed/build/
/Control Flow/Range and For loop/Range/build/
/Control Flow/Range and For loop/Range ForEach/build/
/Control Flow/Range and For loop/Range with `!in` Operator/build/
/Control Flow/Range and For loop/Range with `in` Operator/build/
/Control Flow/When Expression/Multiple statement in Condition block/build/
/Control Flow/When Expression/When/build/
/Control Flow/When Expression/When as a Expression/build/
/Control Flow/When Expression/When subject/build/
/Control Flow/When Expression/When with `is` operator/build/
/Control Flow/When Expression/When with Else block/build/
/Control Flow/When Expression/When with Range as a Condition/build/
/Control Flow/While and Do While/Do While/build/
/Control Flow/While and Do While/Infinite While/build/
/Control Flow/While and Do While/While/build/
/Coroutines/latihan/Latihan/build/
/Data Class dan Collections/Collections/Collections/build/
/Data Class dan Collections/Collections/Maps/build/
/Data Class dan Collections/Collections/Sets/build/
/Data Class dan Collections/Collections Operations/count/build/
/Data Class dan Collections/Collections Operations/find/build/
/Data Class dan Collections/Collections Operations/first/build/
/Data Class dan Collections/Collections Operations/map/build/
/Data Class dan Collections/Collections Operations/sorted/build/
/Data Class dan Collections/Collections Operations/sum/build/
/Data Class dan Collections/Data Class/Comparing data class/build/
/Data Class dan Collections/Data Class/Create variables based on data class objects/build/
/Data Class dan Collections/Data Class/Data Class/build/
/Data Class dan Collections/Data Class/Destructuring Declarations/build/
/Data Class dan Collections/Data Class/Different data class with class/build/
/Data Class dan Collections/Data Class/Modify the data class object/build/
/Data Class dan Collections/Latihan/latihan/build/
/Data Class dan Collections/Sequences/Sequences Initialization/build/
/Data Class dan Collections/Sequences/Sequences Initialization with generateSequence/build/
/Functional/Extensions/Contoh 1/build/
/Functional/Extensions/Contoh 2/build/
/Functional/Latihan/Latihan/build/
/Functional/Named and Default Argument/Contoh 1/build/
/Functional/Named and Default Argument/Contoh 2/build/
/Functional/Named and Default Argument/Contoh 3/build/
/Functional/Named and Default Argument/Contoh 4/build/
/Functional/Vararg Argument/Contoh 1/build/
/Functional/Vararg Argument/Contoh 2/build/
/Functional/Vararg Argument/Contoh 3/build/
/Generics/Latihan/Latihan/build/
/Kotlin Fundamental/Boolean/Conjuction/build/
/Kotlin Fundamental/Boolean/Disjunction/build/
/Kotlin Fundamental/Boolean/Negation/build/
/Kotlin Fundamental/Data Type/Array Initialization/build/
/Kotlin Fundamental/Data Type/Char in String/build/
/Kotlin Fundamental/Data Type/Escaped String/build/
/Kotlin Fundamental/Data Type/Raw String/build/
/Kotlin Fundamental/Data Type/String/build/
/Kotlin Fundamental/Data Type/Unicode String/build/
/Kotlin Fundamental/Data Type/Update Array/build/
/Kotlin Fundamental/Function/Function Initilization/build/
/Kotlin Fundamental/Hello Kotlin/Hello Kotlin 1/build/
/Kotlin Fundamental/If Expression/If/build/
/Kotlin Fundamental/If Expression/If as a Expression/build/
/Kotlin Fundamental/If Expression/If Else/build/
/Kotlin Fundamental/If Expression/If Else If/build/
/Kotlin Fundamental/Latihan/Latihan/build/
/Kotlin Fundamental/Nullable Types/Nullable Types/build/
/Kotlin Fundamental/Numbers/Number Initilization/build/
/Kotlin Fundamental/Numbers/Number operation/build/
/Kotlin Fundamental/Numbers/Number with max and min values/build/
/Kotlin Fundamental/Numbers/String to Number/build/
/Kotlin Fundamental/Safe Call and Elvis Operator/Elvis Operator/build/
/Kotlin Fundamental/Safe Call and Elvis Operator/Safe Call Operator/build/
/Kotlin Fundamental/String Template/String Template/build/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 1/build/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 2/build/
/Object-Oriented/Latihan/Latihan/build/